<h1>Welcome to Meteo - a collection of Latvian wheather station data</h1>
<h2> Get started now!</h2><br>
<%= link_to 'Overview', overview_path, class: 'button1' %>
<%= link_to 'Parameters', parameters_path, class: 'button1' %>
<%= link_to 'For Fun', fun_path, class: 'button1' %>






