<h1>Welcome to MeteoApp</h1>

<form action="/search" method="post">
<%= form_with do |form| %>

<h3>Filter by parameter</h3>
<%= form.select "parameter", options_from_collection_for_select(Parameter.all, :id, :name), {},{ :multiple => true }%>


  <div onclick="TestsFunction()">
    <%= form.submit %> </div>
    

<% end %>

</form>


<%# <div id="data" style="display:none"> <%= render 'search', result: @result %>
<%# </div>  %>

  <script>
      function TestsFunction() {
          var T = document.getElementById("data");
          T.style.display = "block";  // <-- Set it to block
      }

  </script>


