<header class="header">
  <h1 class="logo"><a href="/records">Meteo</a></h1>
  <ul class="main-nav">
    <li><a href="#"><%= link_to 'Overview', overview_path, class: 'nav-link' %></a></li>
    <li><a href="#"><%= link_to 'Parameters', parameters_path, class: 'nav-link' %></a></li>
    <li><a href="#"><%= link_to 'For Fun', fun_path, class: 'nav-link' %></a></li>
  </ul>
</header>